.pageination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    margin:20px 0px;
    border-radius: 14px;
    overflow: hidden;
}

.pageBtn {
    flex: 1;
    padding: 15px;
    border: none;
    background: none;
}

.pageBtn:active {
    top: 1px;
    background: linear-gradient(#19d6cd 0%, #16BFB7 100%);
    color: #ffffff
}
