p:first-child{}
p:last-child{}
p:nth-child(2)
p:nth-child(2n)
p:nth-child(even)
p:nth-child(odd)
p:nth-child(-n-5)

/* 归组 */
p:first-of-type{}
p:last-of-type{}
p:nth-of-type(3){}


/* 伪元素 */
p::before {}
p::after {}
p::first-letter{}
p::first-line{}

input[type]{}
input[type="text"]{}
input[type="password"]{}
input[type^="data"]{}
input[type$="error"]{}

* {
    box-sizing: content-box;
    box-sizing: border-box;
    transition: none;
    transform: translate(5px 3px), rotate();
}

@keyframes ll {
    
}