.articleList {
    background: #ffffff;
}

.listItem {
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    margin: 10px 0;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 18px;
    cursor: pointer;
}

.poseter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.postTitle {
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin: 8px 0;
}


.noResult {
    padding: 10;
    font-weight: bold;
    text-align: center;
    color: #888;
}


.header {
    border-bottom: 1px solid #ddd;
    height: 80px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    top: 0;
    background: #ffffff;
    width: 100%;
    z-index: 10000;
  }
  
  @media screen and (max-width: 800px) {
    .header {
        height: 60px;
        padding: 0 10px;
    }
  }