.autoSearchWrap {
    position: relative;
    width: 100%;
    max-width: 1080px;
}

.searchInputWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchInput {
    flex: 1;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    line-height: 1;
    border: solid 1px #d0d0d5;
    border-top-left-radius: 18px;
    background: #fff;
    height: 54px;
}

.searchBtn {
    border: solid 1px #3a78e8;
    border-top-right-radius: 18px;
    background: #3a78e8;
    color:#ffffff;
    padding: 0 18px;
    line-height: 1;
    height: 54px;
}

.searchBtn span:first-child {
    font-size: 26px;
}

.searchTipsList {
    position: absolute;
    left:0;
    top: 54px;
    border: solid 1px #d0d0d5;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    width: 100%;
    background: #ffffff;
    z-index: 20000;
}

.searchTipsItem {
    list-style-type: none;
    padding: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #430ea5;
    font-weight: bold;
}